<!DOCTYPE html>
<html>
<head>
    <title>Quick Note App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

   <h1>📝 Quick Note Application</h1>
<p style="text-align:center;color:gray;margin-bottom:20px;">
Save your thoughts instantly and access them anytime.
</p>

    <form action="/save" method="POST">

        <textarea
            name="note"
            placeholder="Write your note here..."
            required></textarea>

        <button type="submit">
            Save Note
        </button>

    </form>

    <h2>Saved Notes</h2>

    {% for note in notes %}
        <div class="note">
            {{ note[1] }}
        </div>
    {% endfor %}

</div>

</body>
</html>